docs/n8n-workflow-telegram.json
{
  "name": "ReadMatch · Telegram Bot (FastAPI)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        260,
        300
      ],
      "credentials": {
        "telegramApi": {
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json;\nconst text = raw.message?.text ?? '';\nconst chatId = raw.message?.chat?.id;\nconst parts = String(text).trim().split(/\\s+/).filter(Boolean);\nconst command = (parts[0] ?? '').toLowerCase();\nconst groupId = parts[1] ?? null;\nconst bookId = parts[2] ?? null;\n\nreturn [{\n  raw,\n  command,\n  chat_id: chatId,\n  group_id: groupId,\n  book_id: bookId,\n  metodo: 'media_sigma'\n}];"
      },
      "name": "Parse Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "operation": "equal",
              "value1": "={{$json.command}}",
              "value2": "/recommend"
            },
            {
              "operation": "equal",
              "value1": "={{$json.command}}",
              "value2": "/why"
            },
            {
              "operation": "equal",
              "value1": "={{$json.command}}",
              "value2": "/connect"
            }
          ]
        }
      },
      "name": "Switch Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.FASTAPI_BASE_URL + '/api/telegram/recommend'}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"group_id\": $json.group_id,\n  \"metodo\": $json.metodo,\n  \"chat_id\": String($json.chat_id)\n}",
        "options": {}
      },
      "name": "FastAPI Recommend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1040,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.FASTAPI_BASE_URL + '/api/telegram/explain'}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"group_id\": $json.group_id,\n  \"book_id\": $json.book_id\n}",
        "options": {}
      },
      "name": "FastAPI Explain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.FASTAPI_BASE_URL + '/api/telegram/connect'}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"group_id\": $json.group_id,\n  \"chat_id\": String($json.chat_id)\n}",
        "options": {}
      },
      "name": "FastAPI Connect",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1040,
        420
      ]
    },
    {
      "parameters": {
        "chatId": "={{$json.chat_id}}",
        "text": "={{$json.message || 'OK'}}",
        "additionalFields": {}
      },
      "name": "Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1310,
        300
      ],
      "credentials": {
        "telegramApi": {
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json.chat_id}}",
        "text": "={{'Uso:\\n/recommend <group_id>\\n/why <group_id> <book_id>\\n/connect <group_id>'}}",
        "additionalFields": {}
      },
      "name": "Telegram Help",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1040,
        560
      ],
      "credentials": {
        "telegramApi": {
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Command": {
      "main": [
        [
          {
            "node": "Switch Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Command": {
      "main": [
        [
          {
            "node": "FastAPI Recommend",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FastAPI Explain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FastAPI Connect",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Help",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FastAPI Recommend": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FastAPI Explain": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FastAPI Connect": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Help": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "versionId": "1",
  "meta": {
    "templateCredsSetup": "Crea una credencial llamada 'Telegram account' y una variable de entorno FASTAPI_BASE_URL."
  },
  "settings": {
    "executionOrder": "v1"
  }
}

